* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 1rem;
  font-weight: 600;
  --red: rgb(255, 0, 0);
  --lightgray: rgb(200, 200, 200);
  --shadow: 0px 0px 10px 2px rgb(255, 0, 0);
  color: white;
  z-index: 1;
  text-decoration: none;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

body {
  background-color: black;
  color: white;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navigation {
  z-index: 2;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  transition: opacity ease 200ms;
  box-shadow: var(--shadow);
  padding-inline: 25px;
}

.thinul {
  display: none;
}

.wideul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.wideul a {
  font-size: 1.25rem;
  transition: color ease 150ms;
}

.wideul a:hover {
  color: red;
}

#navxmark {
  scale: 2;
  transition: scale ease 150ms;
  cursor: pointer;
}

#navxmark:hover {
  scale: 2.75;
}

.phonenavigation {
  position: sticky;
  top: 0;
  right: 0;
  width: 100vw;
  height: 200px;
  z-index: 5;
  background-color: black;
  border-bottom: 1px solid white;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.phonelinks {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.phoneli a {
  font-size: 1.25rem;
  transition: color ease 150ms;
}

.phoneli a:hover {
  color: red;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

header h1 {
  text-align: center;
  font-size: 5rem;

}

main {
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectiontitle {
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-align: center;
}

hr {
  transform: translateX(5vw);
  width: 90vw;
  box-shadow: var(--shadow);
  z-index: 0;
  margin-block: 20px;
}

.info {
  height: 100%;
  transform: translateX(5vw);
  width: 90vw;
  justify-content: center;
}

.text {
  font-size: 1rem;
  line-height: 25px;
}

.textcontainer {
  text-align: right;
}

.questionscontainer {
  width: min(90%, 800px);
}

.question {
  margin-top: 15px;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
  box-shadow: var(--shadow);

}

.questiontop {
  display: flex;
  align-items: center;
}

.questiontitle {
  font-size: 1.33rem;
  color: black;
}

.fa-plus,
.fa-minus {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.answer {
  margin-top: 10px;
  overflow: hidden;
  height: 0px;
  transition: height ease 300ms;
  text-align: right;
}


.grown {
  height: 75px;
}

.answer p {
  color: black;
}

.imagescontainer {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.image {
  width: min(30vw, 253.33px);
  height: min(30vw, 253.33px);
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  box-shadow: var(--shadow);
}

.slideshow {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 3;
  top: 0;
  transform: translateY(calc(50vh - 50%));
}

.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bigimagecontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigimage {
  border: 2px solid white;
  width: auto;
  height: min(80vh, 600px);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgb(255, 0, 0);
}

#xmark {
  z-index: 5;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
  scale: 4;
  top: 0;
  right: 0;
  position: absolute;
  transition: scale ease 150ms;
}

.imagesleft {
  position: absolute;
  bottom: 0;
  transform: translateY(50px);
  font-size: 2rem;
}

.arrow {
  width: 40px;
  scale: 1;
  z-index: 2;
  cursor: pointer;
  transition: scale ease 150ms;
  position: absolute;
  top: 0.5;
}

#leftarrow {
  margin-left: 50px;
  left: 0;
  transform: rotate(180deg);
}

#rightarrow {
  margin-right: 50px;
  right: 0;
}

#xmark:hover {
  scale: 5;
}

.arrow:hover {
  scale: 1.2;
}

.image:hover {
  cursor: pointer;
}

footer {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer i {
  color: var(--red);
}

.footercontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
}

.socialtop {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socialbottom {
  display: none;
}

.socialbottom .fa-facebook-f {
  margin-top: 10px;
  margin-left: 5px;
}

.socialbottom .fa-instagram {
  margin-top: 10px;
  margin-right: 5px;
}

.socialtop i,
.socialbottom i {
  scale: 2;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.contact {
  font-size: 1.5rem;
}

.contactContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {

  .footercontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .socialtop {
    display: none;
  }

  .socialbottom {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }

}

@media (max-width: 1000px) {

  #leftarrow {
    margin-left: 10px;
  }

  #rightarrow {
    margin-right: 10px;
  }

  .arrow {
    width: 30px;
  }

  .bigimage {
    width: 75vw;
    height: auto;
  }

}

@media (max-width: 750px) {

  .wideimg,
  .wideul {
    display: none;
  }

  .thinul {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .thinul i {
    scale: 2;
    color: var(--red);
  }

}

@media (max-width: 600px) {

  header h1 {
    font-size: 3rem;
  }

}

@media (max-width: 400px) {

  .contacts p {
    font-size: 1rem;
  }

}

@media (max-width: 300px) {

  .contacts p {
    font-size: 0.75rem;
  }

}

nextjs-portal {
  display: none;
}